@model CarsApp.Web.Models.Car[]
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

﻿
<!DOCTYPE html>
<html>
<head>
    <title>Cars</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
</head>
<body>
    <div style="margin: 50px;">
        <h1>Cars</h1>
        <ul>
            @foreach(var car in Model)
            {
            <li>@car.Make

                    <a asp-controller="cars" asp-action="edit" asp-route-id="@car.Id">Edit car</a>


                    <form id="@($"deleteCar{car.Id}")" asp-controller="cars" asp-action="delete" asp-route-id="@car.Id" method="post" style="display: inline;">
                        <span onclick="if(confirm('Are you sure you want to delete this car?')) { document.getElementById('@($"deleteCar{car.Id}")').submit(); }"
                              style="cursor: pointer; color: red; text-decoration: underline;">
                            [Delete]
                        </span>
                    </form>
                </li>
            }
        </ul>
        <a asp-controller="cars" asp-action="create">Add a new car</a>
    </div>
</body>
</html>